$blockWight: 90%;


span {
  font-weight: normal;
}

.block {
  width: $blockWight;
  aspect-ratio: 1.8;
  border: 2px solid black;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.contentWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 3%;
  z-index: 2;
}

.sumsungLogo {
  height: 4%;
  width: auto;
  line-height: 4%;
  transform: translate(-150%, 200%);

  img {
    height: 100%;
    width: auto;
  }
}

.leftSideContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 50px;
  color: #000000;
  font-weight: bold;
  text-align: left;
  width: 100%;
  height: 100%;
  position: relative;
}

.leftSide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.leftSideText {
  font-weight: bold;
  font-size: 2.2vw;
  line-height: 1.2;
  transform: translateX(-150%);
}

.leftSideTextWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.kitchnLogo {
  height: 2.2vw;
}

.bspokeJet {
  font-size: 2.2vw;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 0;
}
